footer#footer {
  background-color: $header-color;
  font-size: 0.6rem;
  padding: 2rem 1rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    ul.menu {
      display: flex;
      flex-direction: column;
    }
  }

  .copyright {
    display: block;
  }
}

@media #{$sm} {
  footer#footer {
    margin-top: 5rem;

    .wrapper {
      display: block;

      h1.logo {
        img {
          margin: 0;
        }
      }
    }

    span {
      text-align: center;
      .copyright {
        text-align: center;
        width: 100%;
        display: block;
      }
    }

    ul.menu {
      display: block;

      padding: 1rem 0;
      text-align: center;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      li {
        a {
          font-weight: 900;
        }
      }
    }
  }
}
