@import "../sass/variables.scss";

header.header {
  background-color: $header-color;

  .container {
    display: flex;
    align-items: baseline;

    nav {
      @media #{$sm} {
        ul.menu {
          display: none;
          &.show-mobile {
            display: block;
          }
          z-index: 1;
          position: absolute;
          top: 3.5rem;
          left: 0px;
          background-color: $header-color;
          padding: 1rem;
          width: 100%;
          border-top: 1px solid $text-color;
          border-bottom: 1px solid $text-color;
          box-shadow: 0px 7px 11px $header-color;

          .wrapper {
            display: block;
            position: relative;
            background-color: $header-color;
            border: $header-color;
          }

          a {
            &.dropdown.menu-item {
              font-size: 1.2rem;
              color: $color-secondary;
              font-weight: 900;
            }
            display: block;

            &.button-link {
              background-color: $text-color;
              border: $text-color;

              &:hover {
                background-color: $color-secondary;
                border: $color-secondary;
              }
            }
          }
        }
      }

      width: 100%;
      padding: 0.5rem 0;

      #custom-links {
        button.mobile-menu {
          display: none;
          padding: 0;
        }

        @media #{$sm} {
          button.mobile-menu {
            display: block;
          }
        }

        a,
        button.mobile-menu {
          margin-left: 0.5rem;

          span {
            color: $text-color;
            display: block;
            font-size: 14px;
            line-height: 9px;
          }

          svg {
            color: $color-secondary;
          }

          &:nth-child(2n) {
            svg {
              color: $color-main;
            }
          }

          svg {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
