@import "../sass/variables.scss";

header.header {
  background-color: $header-color;
  padding: 0.5rem;

  h1.logo {
    margin: 0;
    font-size: 1.25rem;

    a {
      text-decoration: none;
      text-shadow: none;
      background-image: none;
    }
  }
}
