#sidebar {
  @include section-background;
  @include sticky-column;

  #top-categories {
    display: flex;
    flex-wrap: wrap;

    a.button-link {
      background-color: $color-main;
      border: 1px solid $color-main;

      &:hover {
        background-color: $code-text-color;
        border: 1px solid $code-text-color;
      }
    }
  }

  li {
    list-style: none;
    transition: all 0.3s ease-out;
    border-bottom: solid transparent 1px;

    &:hover {
      border-bottom: 1px solid $color-secondary;
      border-width: 100%;
    }

    &:before {
      content: "\003E";
      color: $color-secondary;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
