#home {
  #top-categories {
    display: flex;
    flex-wrap: wrap;
    a.button-link {
      background-color: $color-main;
      border: 1px solid $color-main;
    }
  }

  li {
    list-style: none;
    &:before {
      content: "\003E";
      color: $color-secondary;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}
