#home {
  #top-categories {
    display: flex;
    flex-wrap: wrap;
    a.category-link {
      padding: 0.25rem 0.5rem;
      text-shadow: none;
      text-decoration: none;
      background-image: none;
    }
  }
}
