.post {
  margin-bottom: 2rem;
  @include section-background;

  a {
    color: inherit;
    text-decoration: none;
    background-image: none;
    text-shadow: none;
    display: flex;
    align-items: center;

    @media #{$md} {
      flex-direction: column;
      .words {
        order: 1;
      }
      img {
        order: 0;
      }
    }

    img {
      max-width: 100%;
      margin: 0.5rem;

      @media #{$xl} {
        max-width: 300px;
        padding-left: 2rem;
      }
    }

    h2 {
      @media #{$xl} {
        margin: 0.75rem 0rem;
      }
      margin: 0;
      font-size: 1.25rem;
      color: $color-main;
    }

    .excerpt {
      display: inline;
      p {
        display: inline;
      }
    }
    .read-more {
      font-weight: 800;
    }

    &:hover {
      h2 {
        color: $color-secondary;
      }
    }
  }
}
