#single {
  max-width: 700px;
  margin: 0 auto;

  h6.post-category {
    text-align: center;
    a {
      color: $color-main;
    }
  }

  h1.title {
    text-align: center;
    margin-top: 0.25rem;
  }

  #content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-secondary;
    }

    figure {
      text-align: center;
      img {
        margin: 0 auto;
      }
    }

    pre {
      white-space: pre-wrap;
      word-break: break-all;
      padding: 1rem;
    }

    p > code {
      background-color: #333;
      padding: 1px;
      color: $code-text-color;
    }
  }
}
