@import "variables";
@import "grid.css";
@import "header";
@import "index";
@import "post";

body {
  color: $text-color;
  background-color: $body-background-color;
}

.color-main {
  color: $color-main;
}

.color-secondary {
  color: $color-secondary;
}

a {
  background-image: none;
  text-shadow: none;
}

div.flex-square {
  display: flex;
  flex-wrap: wrap;
}
