@import "variables";
@import "grid.css";
@import "tableOfContents";
@import "menu";
@import "header";
@import "footer";
@import "index";
@import "post";
@import "single";
@import "archive";

body {
  color: $text-color;
  background-color: $body-background-color;
}

a {
  color: $text-color;
  background-image: none;
  text-shadow: none;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

.flex {
  display: flex;

  &.center {
    justify-content: center;
    text-align: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.evenly {
    justify-content: space-evenly;
  }

  &.align-center {
    align-items: center;
  }
}

div.flex-square {
  display: flex;
  flex-wrap: wrap;
}

.section-header {
  color: $color-secondary;
}

h1.logo {
  margin: 0;
  font-size: 1.25rem;

  a {
    span {
      color: $color-main;

      &:last-child {
        color: $color-secondary;
      }
    }
  }
}

a.button-link {
  transition: all 0.2s ease-in-out;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  width: auto;
  margin: 0.2rem;
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
  color: $body-background-color;
  text-align: center;
  border-radius: 32px;
  font-weight: 900;

  &:hover {
    background-color: $code-text-color;
    border: 1px solid $code-text-color;
  }
}

button.btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.float-right {
  float: right;
}
