.col {
  order: 0;
  background-color: $post-background-color;

  #table-of-contents {
    @include sticky-column;
    margin: 1rem 0;

    ul {
      margin-bottom: 0.5rem;
      li {
        margin-bottom: 0.25rem;
        a {
          font-weight: 700;
        }
      }

      ul {
        li {
          a {
            opacity: 0.8;
            font-weight: 100;
          }
        }
      }
    }

    h4 {
      display: block;

      button {
        display: none;
      }
    }

    a {
      font-size: 0.75rem;
    }

    .heart-button {
      position: absolute;
      top: 55px;
      right: 30px;

      @media #{$md} {
        right: 0;
        top: 20px;
      }
    }
  }
}

@media #{$sm} {
  .col {
    background-color: unset;

    #table-of-contents {
      position: fixed;
      transition: 0.25s ease;
      bottom: 0;
      top: 89%;
      right: 10px;
      transform: translate(0%, 0%);
      margin-bottom: 1rem;
      background-color: $header-link-color;
      overflow: hidden;
      color: $body-background-color;
      border-radius: 4px;
      width: 125px;
      height: 50px;

      h4 > span {
        display: none;
      }

      ul {
        list-style: none;
        ul {
          list-style-type: disc;
        }
      }
      a {
        color: $body-background-color;
      }

      h4 {
        display: flex;
        span {
          font-size: 1rem;
        }

        margin: 0.5rem;
        color: $body-background-color;

        button.close {
          display: block;
          position: relative;
          background-color: $body-background-color;
          color: invert($color: $body-background-color);
          height: 36px;
          width: 36px;

          i {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2rem;
          }
        }
      }

      ul {
        font-size: 0.75rem;
      }

      .heart-button {
        top: 10px;

        .text {
          color: $body-background-color;
          font-size: 1rem;
          padding: 1px;
        }
      }
    }
  }
}
