.col {
  order: 0;
  background-color: $post-background-color;

  #table-of-contents {
    @include sticky-column;
    margin: 1rem 0;

    ul {
      margin-bottom: 0.5rem;
      li {
        margin-bottom: 0.25rem;
        a {
          font-weight: 700;
        }
      }

      ul {
        li {
          a {
            opacity: 0.8;
            font-weight: 100;
          }
        }
      }
    }

    h4 {
      display: block;

      button {
        display: none;
      }
    }

    a {
      font-size: 0.75rem;
    }
  }
}

.col {
  @media #{$sm} {
    #table-of-contents {
      transform: translate(0%, 0%);
      margin-bottom: 1rem;
      background-color: $header-link-color;
      overflow: hidden;
      color: $body-background-color;
      border-radius: 4px;

      ul {
        list-style: none;
        ul {
          list-style-type: disc;
        }
      }
      a {
        color: $body-background-color;
      }

      h4 {
        display: flex;
        span {
          font-size: 1rem;
        }

        margin: 0.5rem;
        color: $body-background-color;

        button.close {
          display: block;
          position: relative;
          background-color: $body-background-color;
          color: invert($color: $body-background-color);
          height: 36px;
          width: 36px;

          i {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2rem;
          }
        }
      }

      ul {
        font-size: 0.75rem;
        display: none;

        &.show {
          display: block;
          ul {
            display: block;
          }
        }
      }
    }
  }
}
