// Header
$header-color: #454e55;
$header-link-color: #f7f7f7;

// Colors
$color-main: #ed6a5a;
$color-secondary: #e8e857;

// Body
$body-background-color: #01172f;
$text-color: #f7f7f7;

// pre/code
$code-background-color: #333;
$code-text-color: #b0ee8d;

//post
$post-background-color: #25273e;

//media
$sm: "only screen and (max-width: 690px)";
$md: "only screen and (min-width: 768px)";
$lg: "only screen and (min-width: 992px)";
$xl: "only screen and (min-width: 1200px)";
