// Header
$header-color: #643d55;
$header-link-color: #fff;

// Colors
$color-main: #ed6a5a;
$color-secondary: #e8e857;

// Body
$body-background-color: #d9d9d9;
$text-color: hsla(0, 0%, 0%, 0.73);

// pre/code
$code-background-color: #333;
$code-text-color: #b0ee8d;

//post
$post-background-color: #fff;
