// Header
$header-color: #000022;
$header-link-color: #fbf5f3;

// Colors
$color-main: #99ead1;
$color-secondary: #fef19a;

// Body
$body-background-color: #282840;
$text-color: #fbf5f3;

// pre/code
$code-background-color: #333;
$code-text-color: #b0ee8d;

//post
$post-background-color: #000022;

//media
$sm: "(max-width: 690px)";
$md: "(max-width: 992px)";
$lg: "(max-width: 1200px)";
$xl: "(min-width: 1200px)";
